body{
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 800px;
}
header
{
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.First
{
  text-align: right;
}
.round
{
  text-align: center;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.flex{
  display: flex;
}
.ForPhoto
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.TextAboutMe
{
  text-align: center;
}
.LetterForHeader
{
  width: 12px;
  height: 12px;
}
.Person
{
  text-align: center;
  background-color:#9be0d5 ;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.PersonForSection
{
  width: 100px;
  height: 100px;
}
.Hi
{
  font-size: 20px;
}
.BigText
{
  font-size: 35px;
  font-weight: 700;
}
.SmallText
{
  font-size: 17px;
}
.button
{
  background-color: black;
  color: White;
  width: 150px;
  height: 50px;
  border-radius: 35px;
}
.Grid
{
  height: 380px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: repeat(6,1fr);
  grid-gap:10px 10px;
}
.First
{
  grid-row: 1 / 4;
}
.second
{
  grid-row: 4 / 7;
}
.third
{
  grid-row: 1/7;
}
.fourth
{
  grid-row:1/5;
}
.fifth
{
  grid-row: 5/7;
}
