header
{
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.First
{
  text-align: right;
}
.round
{
  text-align: center;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.flex{
  display: flex;
}
.ForPhoto
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.TextAboutMe
{
  line-height: 0.9em;
}
.LetterForHeader
{
  width: 12px;
  height: 12px;
}
.Person
{
  text-align: center;
  background-color:#9be0d5 ;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.PersonForSection
{
  width: 100px;
  height: 100px;
}
